html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-image: url('/static/img/bg-sky.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background: rgba(0, 0, 0, .8)
}
.content {
  width: 75%;
  position: relative;
  margin: 2% auto;
  padding: 8px;
}
.content h1 {
  font-size: 3em;
  color: #fff;
  letter-spacing: 3px;
  padding: 25px 0px;
  text-transform: uppercase;
}
.content .input-group {
  -webkit-box-shadow: 0 0 50px rgba(255, 255, 255, 0.48);
  -moz-box-shadow: 0 0 50px rgba(255, 255, 255, 0.48);
  -ms-box-shadow: 0 0 50px rgba(255, 255, 255, 0.48);
  -o-box-shadow: 0 0 50px rgba(255, 255, 255, 0.48);
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.48);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  margin: 0 auto;
  width: 50%;
}
.content p {
  color: #fff;
  line-height: 30px;
  padding-bottom: 12px;
}
.content ul.social {

}
.content li a {
  color: #fff;
  margin: 2%;
}
.fa-2 {
  font-size: 1.2em;
}
.alert-special {
  margin: 0;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border: 1px solid rgba(0, 255, 255, 0.14);
  border-top: 1px solid transparent;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  background: rgba(17, 145, 198, 0.08) url('/static/img/noise.png');
}
.btn-warning {
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning:hover {
  background-color: #ec761f;
  border-color: #ec761f;
}
#emailadd {
  border-radius: 30px 0 0 30px;
}
#btn-ok {
  border-radius: 0 30px 30px 0;
  background-color: #0070ff;
  border-color: #0070ff;
  outline: none;
}
#spiders {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
}

@media (max-width: 450px) {
  .content h1 {
    letter-spacing: 2px;
    font-size: 25px;
  }
  .content .input-group {
    margin: 0 auto;
    width: 100%;
  }
}
