{% load staticfiles %}<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
  <script type='text/javascript'>
  (function() { var b=window,f="chrome",g="tick",k="jstiming";(function(){function d(a){this.t={};this.tick=function(a,d,c){var e=void 0!=c?c:(new Date).getTime();this.t[a]=[e,d];if(void 0==c)try{b.console.timeStamp("CSI/"+a)}catch(h){}};this[g]("start",null,a)}var a;b.performance&&(a=b.performance.timing);var n=a?new d(a.responseStart):new d;b.jstiming={Timer:d,load:n};if(a){var c=a.navigationStart,h=a.responseStart;0<c&&h>=c&&(b[k].srt=h-c)}if(a){var e=b[k].load;0<c&&h>=c&&(e[g]("_wtsrt",void 0,c),e[g]("wtsrt_","_wtsrt",h),e[g]("tbsd_","wtsrt_"))}try{a=null,
  b[f]&&b[f].csi&&(a=Math.floor(b[f].csi().pageT),e&&0<c&&(e[g]("_tbnd",void 0,b[f].csi().startE),e[g]("tbnd_","_tbnd",c))),null==a&&b.gtbExternal&&(a=b.gtbExternal.pageT()),null==a&&b.external&&(a=b.external.pageT,e&&0<c&&(e[g]("_tbnd",void 0,b.external.startE),e[g]("tbnd_","_tbnd",c))),a&&(b[k].pt=a)}catch(p){}})();b.tickAboveFold=function(d){var a=0;if(d.offsetParent){do a+=d.offsetTop;while(d=d.offsetParent)}d=a;750>=d&&b[k].load[g]("aft")};var l=!1;function m(){l||(l=!0,b[k].load[g]("firstScrollTime"))}b.addEventListener?b.addEventListener("scroll",m,!1):b.attachEvent("onscroll",m);
   })();
  </script>
  <meta charset="UTF-8">
  <meta name="robots" content="noodp,noydir"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content='' property='fb:admins'/>
  <meta content='' property='fb:app_id'/>

  <link rel="shortcut icon" href="{% static 'icons/favicon_colored.ico' %}">

  <title>{% block title %}Mister Stark{% endblock %}</title>
  <link rel="canonical" href="https://misterstark.id">

  <meta name="description" content="Mister Stark">
  <meta name="author" content="Mister Stark">
  <meta name="keywords" content="Mister Stark"/>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="all">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" media="all">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link href="{% static 'css/front.css' %}" rel="stylesheet" media="all">
</head>

<body>
  <div class="wrap">
    <canvas id="spiders" class="hidden-xs" width="1280" height="700"></canvas>
    <div class="content">
      <h1><img style="width:70px" src="{% static 'img/logo.png' %}"></h1>
      <p style="letter-spacing:5px"><b>&larr; MISTER STARK &rarr;</b></p>
      <h1 style="margin-top: 10px">rebuilding <span style="color:#fb0;">this time</span></h1>
      <form method="post" id="subscribe">{% csrf_token %}
        <div class="input-group input-group-lg input-subscribtion">
          <input id="emailadd" name="emailadd" type="email" placeholder="Enter your email here..." class="form-control" required />
          <span class="input-group-btn">
          <button type="submit" id="btn-ok" class="btn btn-primary">Subscribe</button>
          </span>
        </div>
      </form>
      <p style="margin-top:3em">we are <strong>working on something</strong> interesting. be notified for the grand opening.</p>
      <ul class="social list-inline">
        <li><a href="//fb.com/misterstark.id" target="_blank"><i class="fa fa-facebook fa-2"></i></a></li>
        <li><a href="//instagram.com/misterstark.id" target="_blank"><i class="fa fa-instagram fa-2"></i></a></li>
        <li><a href="//twitter.com/misterstark.id" target="_blank"><i class="fa fa-twitter fa-2"></i></a></li>
      </ul>
    </div>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="{% static 'js/spiders.js' %}"></script>
  <script src="{% static 'js/front.js' %}"></script>
</body>
</html>
